.env
*.pyc
__pycache__/
*.egg-info/
dist/
build/
.venv/
venv/
.ruff_cache/
keys/
*.p8
*.p12

# iOS
ios/*.xcodeproj/xcuserdata/
ios/*.xcodeproj/project.xcworkspace/xcuserdata/
ios/**/*.xcuserstate
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# DB
*.db
